@font-face{font-family:'Roboto-Reg  ar';src:url('../fonts/Roboto-Regular.eot');src:url('../fonts/Roboto-Regular.woff') format('woff'),url('../fonts/Roboto-Regular.ttf') format('truetype'),url('../fonts/Roboto-Regular.svg') format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'WinSoftProBold';src:url('../fonts/WinSoftProBold.eot');src:local('☺'), url('../fonts/WinSoftProBold.woff') format('woff'), url('../fonts/WinSoftProBold.ttf') format('truetype'), url('../fonts/WinSoftProBold.svg') format('svg');font-weight:normal;font-style:normal}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol{margin:0;padding:0}
body{font-family:"Segoe UI",Helvetica,Arial,sans-serif;font-size:12px;background:url(../images/scol_02.gif); }

a,a:hover,a:active{    
   
    outline: medium none !important;
    text-decoration: none;

    color:#BDBDBD;
    }
    
.overflow{overflow:auto}
.main{width:960px}
.curved{-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}
.curved-tl{-webkit-border-top-left-radius:2px;-moz-border-radius-topleft:2px;border-top-left-radius:2px}
.curved-tr{-moz-border-radius-topright:2px;-webkit-border-top-right-radius:2px;border-top-right-radius:2px}
.curved-bl{-moz-border-radius-bottomleft:2px;-webkit-border-bottom-left-radius:2px;border-bottom-left-radius:2px}
.curved-br{-moz-border-radius-bottomright:2px;-webkit-border-bottom-right-radius:2px;border-bottom-right-radius:2px}
.sep-5{height:5px}
.sep-10{height:10px}
.centerM{margin:0 auto}
.centerT{text-align:center}
.no-border{border:0px !important}
.no-border-top{border-top:0px !important}
.no-border-bottom{border-bottom:0px !important}
.no-border-right{border-right:0px !important}
.no-border-left{border-left:0px !important}
.bordered{border:1px solid #4F4F4F}
.bordered-top{border-top:1px solid #4F4F4F}
.bordered-bottom{border-bottom:1px solid #4F4F4F}
.bordered-right{border-right:1px solid #4F4F4F}
.bordered-left{border-left:1px solid #4F4F4F}
.wrapper{width:980px;margin:0 auto; padding: 10px;overflow: hidden;}
.header{background-image:url(../images/black-bg.gif);height:110px}
.header-inner{background:url(../images/header-inner-bg.gif) repeat-x center center;height:91px}
.logo{background:url(../images/logo.png) no-repeat;width:99px;height:61px;float:left;margin-top:18px}
.slogan{float:left;margin:26px 0 0 185px}
.details{float:right;color:#FFF;margin-top:10px;}
.details span{color:#D0D0D0}
.main-menu-wrapper{height:47px;background-image:url(../images/blue-bg.gif);border-top:1px solid silver;}
.sf-menu,.sf-menu *{list-style:none;margin:0;padding:0}
.sf-menu ul{position:absolute;top:-999em;width:10em}
.sf-menu ul li{width:100%}
.sf-menu li:hover{visibility:inherit}
.sf-menu li{float:left;position:relative}
.sf-menu>li{margin-right:35px}
.sf-menu a{display:block;position:relative;text-decoration:none;padding:5px 1em}
.sf-menu li:hover ul,.sf-menu li.sfhover ul{left:0;top:29px;z-index:99}
.sf-menu a,.sf-menu a:visited{color:#aeadbb;text-shadow:1px 1px 1px #000;font-size:13px}
.sf-menu li li li{background:#9AAEDB}
.sf-menu li:hover,.sf-menu li.sfhover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active{background-color:#212228;outline:0;color:#f68325}
.sf-menu a.sf-with-ul{padding:4px 8px 5px;min-width:1px}
.sf-sub-indicator{display:none}
a>.sf-sub-indicator{top:.8em;background-position:0 -100px}
a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfhover>a>.sf-sub-indicator{background-position:-10px -100px}
.sf-menu ul a>.sf-sub-indicator{background-position:0 0}
.sf-shadow ul.sf-shadow-off{background:transparent}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfhover li ul,ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfhover li ul{top:-999em}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfhover ul,ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfhover ul{left:10em;top:0}
.sf-menu ul .sf-sub-indicator,.sf-menu ul a:focus>.sf-sub-indicator,.sf-menu ul a:hover>.sf-sub-indicator,.sf-menu ul a:active>.sf-sub-indicator,.sf-menu ul li:hover>a>.sf-sub-indicator,.sf-menu ul li.sfhover>a>.sf-sub-indicator{background-position:-10px 0}
.sf-navbar{height:61px;position:relative;margin-top:9px}
.sf-navbar li{position:static}
.sf-navbar li ul{width:948px}
.sf-navbar li li ul{width:13em}
.sf-navbar li li li{width:100%}
.sf-navbar ul li{width:auto;float:left}
ul.sf-navbar .current ul,ul.sf-navbar ul li:hover ul,ul.sf-navbar ul li.sfhover ul{left:0;top:2.5em}
ul.sf-navbar .current ul ul{top:-999em}
.sf-navbar li li.current>a{font-weight:700}
.sf-navbar ul a>.sf-sub-indicator{background-position:0 -100px}
.sf-navbar li.current,.sf-navbar li:hover,.sf-navbar li.sfhover,.sf-navbar li li.current,.sf-navbar a:focus,.sf-navbar a:hover,.sf-navbar a:active{}
.sf-navbar ul .sf-sub-indicator,.sf-navbar ul a:focus>.sf-sub-indicator,.sf-navbar ul a:hover>.sf-sub-indicator,.sf-navbar ul a:active>.sf-sub-indicator,.sf-navbar ul li:hover>a>.sf-sub-indicator,.sf-navbar ul li.sfhover>a>.sf-sub-indicator{background-position:-10px -100px}
.footer-wrapper{background-color:#080808;height:70px;line-height:70px;color:#8f8f8f;font-weight:bold;text-shadow:none;margin-top:10px}
.login-wrapper{float: left;height: 230px; margin-right: 180px;width:520px;text-shadow:1px 1px 1px #000;}
.login-title{margin-left:30px;margin-bottom:-10px;height:40px;color:#FFF;line-height:40px;font-size:18px;font-family:'Roboto-Regular';}
.login-wrapper .input-append .add-on,.login-wrapper .input-prepend .add-on{color:#000}
.login-wrapper .form-horizontal .control-group{margin-bottom:14px}
#login-result{text-align:center;font-weight:bold;font-size:11px}
.main-inner{margin-top:12px;min-height: 400px}
.col1{width:250px;float:left}
.col2{width:650px;float:left;margin-left:-5px ;}
.request-buttons a{background:url(../images/big-btns-bg.gif) repeat-x;height:45px;border:1px solid #c0c0c0;display:block;line-height:45px;margin-bottom:3px;padding:0 13px;color:#080808;font-size:15px}
.request-buttons a span{display:block;background-position:right center;background-repeat:no-repeat}
.request-buttons a.server span{background-image:url(../images/icon-gloab-down.png)}
.request-buttons a.product span{background-image:url(../images/icon-cart.png)}
.request-buttons a.domain span{background-image:url(../images/icon-gloab-search.png)}
.request-buttons a.host span{background-image:url(../images/icon-servers.png)}
.panel{border:1px solid #c0c0c0;}
.panel-header{height:27px;line-height:27px;border-bottom:1px solid #c0c0c0;font-size:14px;font-weight:bold;color:#c41d03;background:url(../images/panel-header.gif) repeat-x;padding:0 17px}
.summary-panel{margin-top:7px}
.summary-panel .panel-body{padding:20px 15px}
.summary-panel .panel-body table{width:100%}
.summary-panel .panel-body .lbl{width:40%}
.summary-panel .panel-body .sep{width:10%}
.summary-panel .panel-body .val{width:50%;color:#898989}
.col-adv{border:1px solid #c0c0c0;margin-top:15px}
.banners{border:1px solid #C0C0C0;margin-bottom:12px}

.news-item{
    height: 175px;
    margin-bottom: 10px;
    overflow: hidden;
    }
.news-title{font-weight:bold;color:#0082d4;font-size:14px;margin-bottom:15px}
.news-body{text-align:justify}
.nav{margin:0}
.tab-content{border:1px solid #DDD;border-top:0;padding:10px}

.news_footer{
    border-bottom: 1px dotted #C6C6C6;
    margin-top: -20px;
    float:left;
    width: 630px;
    
    }
    
.news_footer_icon{
    background-image:url(../images/news.gif);
    background-repeat:no-repeat;  
    float: right;
    height: 15px;
    width: 15px;
}

.news_footer_icon2{
   background-image:url(../images/news2_03.gif);
   background-repeat:no-repeat;  
   float: right;
   height: 15px;
   width: 15px;      
}
.panel-body .table{margin:0}
.head-info{text-align:center}

.panel-header .btn-mini{margin-top:2px}
.modal-body .alert{margin:0}


#cssmenu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: auto;
}
#cssmenu ul {
  height: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
margin-right:13px;
font-family: n;
  margin-top:-5px;
  font-size:17px;
  display: block;
  font-weight: normal;
  line-height: 35px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #cccccc;
}
#cssmenu ul ul a {
  color: #cccccc;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: #2580a2;
  color: #FFFFFF;
  text-decoration: none;
}
#cssmenu li ul {
  background: #333333;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
	/*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none; 
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  border: 0px;
  color: #ffffff;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
} 
.input-appendLog{
    float: left;
    margin-left: -150px;
    width: 240px;
     
}

.input-appendPass{
    float: left;
    margin-left: -14px;
    margin-top: -14px;
    width: 250px;
    
}
.after_logo{
  
    height: 86px;
    margin-left: 30px;
    width: 400px;
    margin-top: 80px;
}

.page{
width: 100%;
    height: 100%; 
    min-height: 100%;
   position: fixed;
overflow: hidden;
    
}
.page_top{
width: 100%;
 height: 358px;
  background:balck ;  
background-image:url(../images/black-bg.gif);

background-position: 0 10px;
display: block;
 margin-top: 0px;
 float: left;
 border-bottom:2px solid #464646; 
}
.page_bottom{
width: 100%;
    height: 100%; 
    min-height: 100%;
    position: relative;
 background:#071118;
 margin-top: 0px;
 float: left; 			
background-image:url(../images/blue-bg.gif);
}

.input-appendx{
    height: 20px;
    margin-left: -151px;
    margin-top: -10px;
    width: 200px;
}

#back-to-login{
margin-top:10px;
margin-left:-150px;
float:left;
}
#email_frgt{
width:270px;
}

#send_forget_password{
    background: none repeat scroll 0 0 #C9470A;
    float: left;
    margin-left: 70px;
    margin-top: 7px;
}

.test1{
    margin-left: auto;
    margin-right: auto;
    height: 357px;
    width: 566px;
}
.test2{
    height: 200px;
    margin-left: 150px;
    margin-top: 80px;
    width: 451px; 
}


.details ul{
display:inline;
}
.details ul li{
list-style:none;
display:inline;
    margin: 3px;
    padding-right: 10px;
border-right:1px solid rgb(145, 144, 144);
}


#forget-password{
    float: left;
    margin-left: -150px;
    margin-top: 15px;
}	
.icon-wel{
background-image:url(../images/glyphicons-halflings-white.png);
background-position:-314px -118px;

    margin-right: 2px;
    margin-top: -2px;
  
}	
.icon-setting{
background-image:url(../images/glyphicons-halflings-white.png);
background-position: -433px 0;
margin-right: 1px;
}	
.icon-logout{
background-image:url(../images/mycp-inner-prev-1.gif);
   height: 30px;
    margin-left: -12px;
    margin-right: 2px;
    margin-top: -10px;
    width: 30px;
}	
	
    

.col3{
    width:900px;
    
    float:left;  
    min-height: 500px; 
    margin-left: 5px;
}
.col9{
    width:900px;

    float:left;  
    min-height: 500px; 
    margin-left: 5px;    
}
.col4{
      width:900px;
    background:#f7f7f7;
      float:left;  
      min-height: 500px;   
}
.set_menu{
   
    float: left;
    
    margin-left: 12px;
    margin-top: 10px;
    width: 231px;
     border: 1px solid #c6c6c6;
     overflow:hidden;
    
}
.dedicated_menu{
     float: left;
    height: 255px;
    margin-left: 12px;
    margin-top: 10px;
    width: 231px;
     border: 1px solid #c6c6c6;
     overflow:hidden;   
}
.dedicated_menu ul li{
    float: left;
    list-style: none outside none;
    width: 230px;
     background: none repeat scroll 0 0 #fafafa;
     border-bottom: 1px solid #ffffff;
}
.dedicated_menu ul li a{
    color: #000000;
    float: left;
    height: 30px;
    margin-left: 20px;
    margin-top: 13px;
    width: 190px;
}    
.dedicated_menu ul {
width :250px;    
}
.dedicated_menu ul li:hover{
    background:#f0f0f0;
}
.personal_detalis{
    background: white;
    float: left;
    height: 330px;
    margin-left: 10px;
    margin-top: 10px;
    width: 310px;
     border:1px solid #c6c6c6;   
    
}

.formxx{
    float: left;
    height: 100%;
    overflow: hidden;
    width: 650px;
}
.per_email input[type="submit"]{
    float: right;
    background: #1ea139;
    border: 1px solid green;
    width: 65px;
    height: 27px;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 25px;
    margin-top: 35px;
}

#save_users_contact{   
    float: right;
    background: #1ea139;
    border: 1px solid green;
    width: 65px;
    height: 27px;
    color: #FFFFFF;
    font-size: 16px;
    margin-right: -25px;
    margin-top: 35px;  
    margin-bottom: 20px;  
}

.contact_detalis{
    background: white;
   border:1px solid #c6c6c6;
    float: left;
    height: 180px;
    margin-left: 10px;
    margin-top: 10px;
    width: 310px;  
    
}

.cont_head{
    float:left;
    width:310px ;
    height: 30px;
    background: #fafafa;
     border-bottom: 1px solid #c6c6c6 ;   
    
}

.cont_icon{
    float:left;
    width: 35px;
    height: 30px;
    border-right: 1px solid #c6c6c6;
  
    
}
.icon_back{
    float: left;
    height: 30px;
    margin-left: 10px;
    margin-top: 7px;
    width: 35px;
      background:url(../images/arrow-ico.gif);
    background-repeat:no-repeat;  
}
.cImg{
    background:url(../images/settings22_06.gif); 
    height: 102px;
    width: 107px;
}

.cont_count{
    width:310px ; 
    float: left;
    height: 269px;
    background: white;
    margin-top: 10px;
}

.foot_icon{
     border-bottom: 1px solid #c6c6c6;   
    width: 310px;
     float: left;
     height: 20px;
     background: white;
}

.cont_img{
  float: left;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    width: 85px;
}
.per_detalis span{
    float: left;
    margin-left: 25px;
    margin-top: 5px;
    width: 150px;
    
}
.per_detalis table{
        float: left;
    margin-left: 12px;
    margin-top: 9px;
    
}
.per_detalis p{
    color: #8c8c8c;
    float: left;
    margin-left: 30px;
    margin-top: -5px;  
    
}




.contact_detalis span{
    float: left;
    margin-left: 40px;
    margin-top: 0;
    width: 85px   
    
}
.contact_detalis  table{
    margin-top: 10px;
    
}

.contact_detalis p{
    float: left;
    margin-left: 10px;
    color: #8c8c8c;   
    
}
.set_menu ul{
    width:250px;
    
}
.set_menu ul li{

    float: left;
    list-style: none outside none;
    width: 230px;
    background: none repeat scroll 0 0 #fafafa;
    border-bottom: 1px solid #ffffff;
}
.set_menu ul li:hover{
    background:#f0f0f0;
}
.set_menu ul li a{
    color: #000000;
    float: left;
    height: 30px;
    margin-left: 20px;
    margin-top: 13px;
    width: 190px;
    
}
.menu_li{
   width:15px;
   height: 50px; 
   float:left;
   background:#e7e7e7 ;
    
}
.cont_title{
    width: 120px;
    height: 20px;
   margin-left: 10px;
    margin-top: 3px;
    float:left;
    
}
.cont_img img{
      margin-top: 10px;
    width: 85px;
    
    
}


.per_detalis ul{
    margin-top: 10px; 
    float: left;
    
}
.per_detalis ul li{
   width: 100px; 
   float: left;
   list-style: none;
    
}


.foot_icon2{

    float: right;
    width:16px;
    height: 16px;
    background-image:url(../images/mycp-icons/edit.png);
     margin-top: 4px;
  
}
.foot_icon9{
    float: right;
    width:16px;
    height: 16px;
    background-image:url(../images/mycp-icons/info.png);
     margin-top: 4px;
  
}
.foot_icon8{
    float: right;
    width:16px;
    height: 16px;
    background-image:url(../images/mycp-icons/payment2.png);
     margin-top: 4px;
  
}
.dele_cont{
    background-image: url("../images/mycp-icons/delete.png");
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-top: 4px;
    width: 16px;
}
.foot_icon5{
    background: blue;
    float: right;
    width:16px;
    height: 16px;
    background-image:url(../images/edit-ico.gif);
     margin-top: 4px;
  
}

.foot_icon span1{
    float:right;
    margin-right: 4px;
    margin-left: 4px;
}


.header_form{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    display: none;
    float: right;
    height: 387px;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;
    
}
.header_form1{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float: right;
    height: 387px;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;
    display:none;
    
}
.header_form2{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;  
}

.header_form4{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;  
}
.header_form_Invoice{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;      
    overflow: hidden;
    height: 30px;
}
.header_form6{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    width: 630px;      
}

.head_close{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;
}

.head_close4{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;
}
.head_close5{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;  
}

.head_close6{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;  
}
.head_close3{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;
}
.head_close a{
    width: 20px;
    height: 20px;
}
.head_close2{
    background-image:url(../images/close.gif);
    background-repeat:no-repeat;
    float: right;
    height: 20px;
    margin-right: 10px;
    margin-top: 7px;
    width: 20px;
}
.head_close2 a{
    width: 20px;
    height: 20px;
}

.header_form1 input[type="text"]{
    width:150px;
    border-radius:0px;
}

.form_head{
    background: none repeat scroll 0 0 #FAFAFA;
    border-bottom: 1px solid #C6C6C6;
    float: left;
    height: 30px;
    width: 700px;
   
}

.per_name{
    border-bottom: 1px solid #C6C6C6;
    height: 180px;
    margin-left: 40px;
    width: 550px;
    margin-top: -10px;
}
.off_num{
    border-bottom: 1px solid #C6C6C6;
    float: left;
    height: 65px;
    margin-left: 40px;
    width: 550px;  
    
}
.per_email{
    float: left;
    height: 65px;
    margin-left: 40px;
    width: 550px;  
      margin-top: 4px; 
}
#addres_txt{
    width:245px;
}
#city_txt{
    width:100px;
    margin-left:90px ;
}
#city_txt2{
    width:100px;
    margin-left:0px ;
}
#contry_txt{
     width:150px;
    margin-left:0px ;   
    
}
.per_add{
     border-bottom: 1px solid #C6C6C6;
    float: left;
    margin-left: 40px;
    height: 70px;
   margin-top: 4px;
    width: 520px;     
}
.per_name table{
    float: left;

    margin-top: 20px;

}
.header_form ul li{
     margin-bottom: 3px;
    
}
.per_name table td {
      padding-right: 10px;
}
.table_form{
    float: left;
    height: 55px;
    width: 175px;
    margin-top: -7px;
}

.F_Name{
    float:left;
    width: 100px;
    height: 50px;
    margin-right: 75px;

}
.L_Name{
    float:left;
    width: 100px;
    height: 50px;
   margin-right: 110px; 
}
.Position{
    float:left;
    width: 100px;
    height: 70px;
    
}
.header_form input[type="text"],input[type="password"]{
   width: 150px;
   border-radius: 0;
   float:left;
   height: 20px;

}

select{
   border-radius: 0;
   float:left;
    height: 30px;
    width: 164px;
}
ul li{
    list-style: none;
}

.contact_form{
 
    height: 120px;
    margin-left: 35px;
    margin-top: 45px;
    width: 560px;
}
.contact_form input{
    border-radius: 0px;
}

.con_name{
    background: #fafafa;
    height: 50px;
    width: 560px;
}

.con_name input[type="text"]{
    width:470px;
    float:left;
    margin-left: 20px;
    margin-top: 10px;
    background: #fafafa;
    border:1px solid  #fafafa;
    
    
}
.contact_1{
    float: left;
    height: 75px;
    margin-top: 10px;
    width: 558px;
    
}
.contact_2{
    float: left;
    height: 110px;
    margin-top: -5px;
    width: 335px;
}
#office_p{
    margin-left: 3px;
}
#mobile_p{
    width:320px;
}
.contact_1 ul{
  display: inline-block;
}
.contact_2 ul{
  display: inline-block;
}
#Cont_email1{
    width: 500px;
}
.but_save{
    float:right;
    height: 20px;
    margin-right: -20px;
    margin-top: 5px;

}

.but_save input[type="submit"]{
    background: #1ea139;
    border: 1px solid green;
    width: 65px;
    height: 27px;
    color: #FFFFFF;
    font-size: 16px;
}

.EditButton{
    float: right;
    height: 27px;
    width: 65px  !important;
    background: #d64937 !important;
    border: 1px solid #b83d2e;
    color:white;
}
.pers_title ul{
    float: left;
    text-align: center;
    margin-top: 4px;
}
.pers_title ul li{
    display: block;
    float: left;
    margin-left: 15px;
    width: 140px;
    font-size: 12px;
}
.pers_title{
    background: none repeat scroll 0 0 #E7E7E7;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    margin-top: 30px;
    width: 700px;
}
.pers_body{

    border-bottom: 1px solid silver;
    height: 30px;
    width: 700px;   
}
.pers_body ul{
    float: left;
    text-align: center;
    margin-top: 4px;
}
.pers_body ul li{
    display: block;
    float: left;
    margin-left: 15px;
    width: 140px;
    font-size: 12px;
}
.pers_body:hover{
background: #f3fbfe;
}


.new_account{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    float:right;
    margin-right: 10px;
    width: 630px;
    margin-top: 10px;    
}
.new_account2{
    border-bottom: 1px solid #C6C6C6;
    height: 400px;
    float:right;
    width: 630px;
    margin-top: 30px; 
    display: none;
}
#add_contact{
    background-image:url(../images/addAcoount.gif);
    background-repeat:no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    width: 100px;
    padding-left: 20px;
}
.new_account input[type="text"]{
    width: 150px;
}
#sub_menu_account{
    float: left;
    height: 50px;
}
#sub_menu_account a{
    margin-left: 40px;
}
#hov_cont{
    height: 50px;


}
#sub_menu_account ul li a{
    width:100px;
    height: 30px;
    margin-left: 10px;
    background: red;
}


.tool_head{
   border-bottom: 1px solid #C0C0C0;
    float: left;
    height: 64px;
    width: 630px;
}
.ded_img{

    float: left;
    height: 55px;
    margin-left: 45px;
    margin-top: 3px;
    width: 100px;
}
.ded_select1{
    border-bottom: 10px solid #C0C0C0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-left: -54px;
    margin-top: 54px;
    width: 0;
}
.ded_select2{
    border-bottom:10px solid #C0C0C0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-left: -54px;
    margin-top: 54px;
    width: 0;
    display: none;
}
.ded_select3{
    border-bottom: 10px solid #C0C0C0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-left: -54px;
    margin-top: 54px;
    width: 0;
    display: none;
}
.ded_select4{
    border-bottom: 10px solid #C0C0C0;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    float: left;
    height: 0;
    margin-left: -54px;
    margin-top: 54px;
    width: 0;
    display: none;
}
.ded_img1{
    background-image: url("../images/Nn1_03.gif");
    background-repeat: no-repeat;
    height: 45px;
    margin-left: 13px;
    margin-top: 8px;
    width: 75px;
}
.ded_img2{
    background-image: url("../images/Nn2_03.gif");
    background-repeat: no-repeat;
    height: 45px;
    margin-left: 29px;
    margin-top: 6px;
    width: 75px;
}
.ded_img3{
    background-image: url("../images/NMM_03.gif");
    background-repeat: no-repeat;
    height: 45px;
    margin-left: 18px;
    margin-top: 5px;
    width: 75px;
}
.ded_img4{
    background-image: url("../images/NMMMMM_03.gif");
    background-repeat: no-repeat;
    height: 45px;
    margin-left: 25px;
    margin-top: 8px;
    width: 75px;
}

.tool_info{
    float: left;

    width: 630px;
}
.tool_sli1{  
    height: 228px;
    width: 630px;  
}
.tool_sli2{
     display: none; 
    height: 228px;
    width: 630px;  

}
.tool_sli2 span{
    color: #000000;
    float: left;
    font-size: 19px;
    height: 30px;
    margin-left: 80px;
    margin-top: 10px;
    width: 300px;
}
.tool_sli2 span1{
    color: #000000;
    float: left;
    font-size: 12px;
    height: 30px;
    margin-left: 180px;
    margin-top: 10px;
    width: 400px;
}
.tool_sli3{
    height: 300px;
    width: 630px;
    display: none; 
    color: #7D7D7D;
}
.tool_sli4{
    height: 400px;
    width: 630px;  
 display: none; 
    background: green;
}

.reboot_msg{
    background: none repeat scroll 0 0 #F9FAAE;
    border: 2px solid #C3C478;
    float: left;
    height: 90px;
    margin-left: 38px;
    width: 550px;
}
.re_img{
    background-image: url("../images/reboot_03.gif");
    background-repeat: no-repeat;
    height: 75px;
    margin-left: 11px;
    margin-top: 14px;
    width: 64px;
    float: left;
}

.reboot_msg span2{
   color: #000000;
    float: left;
    margin-left: 10px;
    margin-top: 12px;
    text-align: justify;
    width: 430px;
}

.tool_sli2 input{
    background: none repeat scroll 0 0 #E04B20;
    border: 1px solid #A74F21;
    color: #FFFFFF;
    float: left;
    font-size: 17px;
    height: 28px;
    margin-left: 265px;
    width: 90px;
    border-radius: 3px;
}

.ftp_back_haed{
    background: none repeat fixed 0 0 #FAFAFA;
    float: left;
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
    width: 550px;
    border-bottom: 1px solid #d9d9d9;
}
.ftp_back_haed2{
    background:white;
    float: left;
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
    width: 550px;
    border-bottom: 1px solid #d9d9d9;
    
}
.ftp_back_span{

    float: left;
    height: 65px;
    margin-left: 40px;
    margin-top: 20px;
    width: 550px;
}
.tool_sli3 ul{
    display: block;
    height: 30px;
    margin-left: 44px;
    text-align: center;
    width: 460px;
}

.tool_sli3 ul li{
    display: block;
    float: left;
    height: 20px;
    margin-left: 0;
    margin-top: 4px;
    width: 150px;
    
}

.ftp_back_chPass{
    background: none repeat scroll 0 0 #F5F5F5;
    height: 40px;
    margin-top: 15px;
    width: 550px;
    float: left;
}

.ftp_back_chPass span{
      color: #000000;
    float: left;
    font-size: 16px;
    margin-left: 35px;
    margin-top: 7px;
    width: 130px;
}
.ftp_back_chPass input[type="submit"]{
    background: none repeat scroll 0 0 #1F9733;
    border: 1px solid #008000;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 25px;
    margin-left: 15px;
    margin-top: 7px;
    width: 70px;
    }
    
.ftp_back_chPass input[type="password"]{
    float: left;
    height: 20px;
    margin-left: 25px;
    margin-top: 5px; 
    
}  
.ftp_back_msg{
    background: none repeat fixed 0 0 #F3FBFE;
    border: 1px solid #C9D1DC;
    float: left;
    height: 90px;
    margin-top: 5px;
    width: 550px;
}


.ftp_back_msg_img{
    background-image: url("../images/ftp-backup_03.gif");
    background-repeat: no-repeat;
    float: left;
    height: 75px;
    margin-left: 11px;
    margin-top: 14px;
    width: 64px;
}
.ftp_back_msg span1{
    color: #000000;
    float: left;
    font-size: 10.2px;
    margin-left: 10px;
    margin-top: 13px;
    text-align: justify;
    width: 456px;
}
.Compnents{
    float: left;
    height: 160px;
    margin-left: 40px;
    margin-top: 40px;
    width: 550px;
    font-size: 16px;
    line-height: 20px;
}
.Compnents table{
    border-collapse:separate;
    border-spacing:10px 10px;
}

.Compnents td{
    border-bottom: 1px solid #EDEDED;
}


.comp_info1{
    float: left;
    height: 200px;
    margin-top: 15px;
    width: 320px;
    margin-left: 50px;
}

.comp_info1 span{
    float: left;
    font-size: 16px;
    width: 320px;
    margin-top: 15px;
}
.comp_info1 p{
    width: 260px;
    font-size: 13px;
    color:#949494;
}
.comp_info2{
    float: left;
    height: 200px;
    margin-top: 30px;
    width: 260px;
}
.comp_info2 span{
    float: left;
    font-size: 16px;
    width: 260px;
}
.comp_info2 p{
    float: right;
    font-size: 13px;
    width: 170px;
    color:#949494;
    width: 260px;
}
.Edit_comp_icon{
    float: right;
    margin-right: -15px;
    margin-top: 10px;
    width: 100px;
}

.License_ul_title{
    background: none repeat scroll 0 0 #E7E7E7;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    margin-top: 30px;
    width: 630px;
}

.License_ul_title ul li{
    float: left;
    margin-left: 50px;
    margin-top: 3px;
    width: 120px;
}

.License_Info{
    height: 30px;
    margin-top: 5px;
    width: 630px;
}
.License_Info ul li{
    float: left;
    margin-left: 50px;
    margin-top: 3px;
    width: 120px;
}
.License_Edit1{
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-top: 8px;
    width: 165px;
    
}

.License_Edit1 input[type="button"]{
    background: none repeat scroll 0 0 #1EA139;
    border: 1px solid #008000;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    height: 27px;
    margin-left: 20px;
    margin-top: 24px;
    width: 70px;
}

.map_icon{
    background:url(../images/company-3_03.gif);
    background-repeat:no-repeat; 
    float: left;
    height: 20px;
    margin-top: 1px;
    width: 20px;
    
}

#filter_email{
   float:left;
   margin-left: 10px;
   margin-top: 4px; 
   color:red;
}

.contact_form ul li{
float:left;
width:500px;    
}
.contact_form ul{
    float: left;
    margin-left: 10px;
    width: 170px;
}


.contact_form2{
    float: left;
    height: 300px;
    margin-left: 45px;
    margin-top: 20px;
    width: 560px;
}
.contact_form2 input{
    border-radius: 0px;
    width:150px;
    }
.Of_Phone{
    float: left;
    margin-top: 15px;
    margin-right: 10px;
}

.Line{
    border-top: 1px solid #C0C0C0;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 520px;
        
}

.tittle_settings{
    width:500px;
    float: left;
    height: 70px;
}

.CheckAccessDetails{
    float: left;
    margin-left: 10px;
    width: 550px;
    margin-top: 10px;
}

.CheckAccessDetails input[type="button"]{
    background: none repeat scroll 0 0 #D64937;
    border: 1px solid #B83D2E;
    color: #FFFFFF;
    float: right;
    height: 27px;
    width: 65px;
    margin-top: 20px;
    
}


.CheckAccessDetails input[type="radio"]{
    float:left;
}
.User_Contact_name ul{
    border-bottom: 1px solid #C0C0C0;
    float: left;
    height: 30px;
    margin-left: 1px;
    text-align: center;
    width: 200px;   
}

.User_Contact{
    float: left;
    margin-left: 20px;
    margin-top: 6px;
    width: 200px;
    display: none;
    margin-bottom: 20px;
}

.User_Contact_name ul li{
    float:left;
    display: block;
    width:200px;
    height: 50px;
    margin-top: 4px;
}
.new_contact_cheked{
    width:500px;
    height: 30px;
}


.documents_form{
    float: right;
    margin-top: 10px;
    width: 630px;
    line-height: 17px !important;
  
}

.find{
    background: none repeat scroll 0 0 #EAE7E7;
    float: left;
    height: 100px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 10px;
    width: 620px;
}
.find span{
      float: left;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 40px;
}
.find input[type="text"]{
    border-radius: 0;
    float: left;
    margin-left: 15px;
    margin-top: 37px;
    width: 400px;
}

#find_articles{
    background: none repeat scroll 0 0 #499E0F;
    border: 1px solid #346315;
    border-radius: 3px;
    color: #FFFFFF;
    float: left;
    height: 28px;
    margin-left: 10px;
    margin-top: 38px;
    width: 75px;
}
.invoice_icon{
    float: right;
    height: 15px;
    margin-right: 50px;
    margin-top: 10px;
    width: 20px;
}
#triangle-down {
    width: 0;
    height: 0; 
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    border-top: 10px solid rgba(180, 178, 178, 1); 
    }
    
#triangle-down:hover{
    border-top: 10px solid black;     
}   
 
#triangle-up { 
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent; 
    border-right: 8px solid transparent; 
    border-bottom: 10px solid rgba(180, 178, 178, 1);  
    display: none;
    }
    
#triangle-up:hover {
    border-bottom: 10px solid black;     
} 
    
#add_license{
    background-image: url("../images/license.gif");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    padding-left: 20px;
    width: 100px;
}    
#add_user{
    background-image: url("../images/addAcoount.gif");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    padding-left: 20px;
    width: 100px;
}    
#add_webhost{
    background-image: url("../images/host.gif");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    padding-left: 20px;
    width: 100px;    
}   

#add_domain{
    background-image: url("../images/domain.gif");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    padding-left: 20px;
    width: 100px;      
}  
#add_server{
     background-image: url("../images/Hosting-services.gif");
    background-repeat: no-repeat;
    float: left;
    height: 20px;
    margin-top: 18px;
    padding-left: 20px;
    width: 100px;     
}  
#AccLable{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #FF0000;
    margin-top: 20px;
    width: 268px;
    display: none;
 
}
#AccLable2{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #FF0000;
    float: left;
    margin-left: 164px;
    margin-top: -76px;
  
    }
.news_footer span{
    float: left;
    margin-left: -5px;
    margin-top: -3px;
}
.moreDoc{
    float: left;
    height: 27px;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    width: 1120px;
    }
    
.moreDoc2{
    float: left;
    height: 27px;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    width: 1120px;
    }    
    
.finedMoreDoc2{
    float: left;
    height: 27px;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    width: 1120px;  
    
}    
